* {
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}

body {
    font-family: 'Poppins';font-size: 22px;
}
.titulo{
  font-size: 33px;
  padding: 3rem;
  display: flex;
  justify-content: center;
   }

.col-auto{
  display: flex;
  float: right;
  padding: 2rem;
}

.navbar {
  background-color: #97c071;
  margin: 2rem;
  li{
  font-size: 17px;
  color: rgb(194, 186, 186);
  padding: 2rem;
  }
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  .tote{
    height: 530px;
  }
}

.masvendidos{
  h2{
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-size: 40px;
    display: flex;
    justify-content: center;
    padding: 2rem;
    color: black;
  }
  .masvendidosimg{
    border: 1px solid #97c071;
    height: 300px;
  }
  .col-4{
    display: flex;
    justify-content: center;
    padding: 1rem;
    }
    p{
      padding: 1rem;
      font-size: 20px;
      text-align: center;
    }
}

.masproductos{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  .boton{
   padding: 1rem;
   background-color: rgb(240, 231, 215);
   border-radius: 10px;
   border: 1px solid black;
  }
   a:hover{
      color: black;
  }
   .linkproductos{
     list-style: none;
     text-decoration: none;
     color: black;
    }
}

footer{
  padding: 2rem;
  .icons{
    margin: 3rem;
  }
  a{
    text-decoration: none;
  }
  .footer-menu{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-size: 18px;
  }
}

.todoslosproductos{
  padding: 1rem;
.producto{
  border: 1px solid #97c071;
  height: 350px;
  margin: 1rem;
  }
  p{
    padding: 1rem;
    font-size: 20px;
    text-align: center;
  }

}

section{
  h3{
    padding: 1rem;
    text-align: center;
  }
  h5{
    font-size: 22px;
    text-align: center;
  }
  p{
    padding: 1rem;
    margin-right: 6rem;
    margin-left: 6rem;;
  }
}

.local{
  display: flex;
  justify-content: center;
  img{
    height: 1100px;
  }
}

.container-formulario{
  padding: 4rem;
  h3{
    text-align: center;
  }
  div{
    label{
      font-size: 18px;
    }
    p{
      font-size: 18px;
    }
  }
}

.enviar{
  margin: 5px;
  .botonformulario{
    padding: 15px;
    background-color: rgb(246, 255, 245);
    border-radius: 15px;
    border: 2px solid black;
    list-style: none;
  }
}

textarea{
  padding: 7px;
}

div{
  h3{
    padding: 2rem;
    text-align: center;
  }
  .mapa{
    display: flex;
    justify-content: center;
    padding: 2rem;
  }
}